.lead{
    background-color: #a74ca7 !important;
    color: #0cc327;
    font-size: larger;
    font-style: italic;
}

.example{
    background-color: #cb7139 !important;
    color: #473070;
    font-size: large;
    font-style: italic;
}

.example2{
    background-color: #afcf14 !important;
    color: #381017;
    font-size: large;
    font-style: italic;
}